@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("geo-background.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #beb7b7;
}

.links {
  padding: 1rem;
}

#navbar {
  display: flex;
  width: 100%;
}

#main-container {
  display: grid;
  width: 650px;
  margin: auto;
  justify-content: center;
}

#header {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.border-container {
  width: 375px;
  height: 375px;
  border: 2px dashed #555;
  background: #333;
}


#border {
  background-image: linear-gradient(to bottom right, #c33838, #8118e4);
  height: 100%;
  /* border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%; */
}

.border-square {
  height: 15px;
  width: 15px;
  background: #fff;
  border: 2px solid black;
}

.border-square:active,
.border-square:hover {
  cursor: pointer;
  background: #333;
  border: 4px solid #fff;
}

#square-1 {
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
}

#square-2 {
  position: relative;
  left: 22.8rem;
  bottom: 1.45rem
}

#square-3 {
  position: relative;
  left: 22.8rem;
  top: 20.9rem;
}

#square-4 {
  position: relative;
  right: 0.5rem;
  top: 19.9rem;
}

.label-container {
  display: grid;
  margin: auto;
  width: 375px;
  margin-top: 1rem;
}

#border-input-label {
  font-size: 2rem;
}

#border-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  background: #fff;
  color: #333;
}

.copy-btn {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.4rem;
  background: #fff;
  color: #333;
}

.copy-btn:hover {
  cursor: pointer;
  background: #333;
  color: #fff;
}